// Пагинация
.pagination-more {
    @include mdFix {
        flex-wrap: wrap;
    }
}

.pagination {
    @include mdFix {
        flex: 1 0 100%;
        width: 100%;
        justify-content: space-between;
    }
    // .pagination__arr
    &__arr {
        position: relative;

        &::before {
            font-size: 12px;
            margin-right: 0;
        }

        // .pagination__arr_prev
        &_prev {
            transform: translateY(0) rotate(0deg);

            &::before {
                margin-top: 2px;
            }
        }

        // .pagination__arr_next
        &_next {
            margin-left: 12px;
            transform: translateY(0) rotate(-180deg);

            &::before {
                margin-right: 2px;
                margin-bottom: -2px;
            }

            @include lg {
                margin-left: 8px;
            }
            @include mdFix {
                margin-left: 2px;
            }
        }
    }

    // .pagination__item
    &__item {
        border: 1px solid #c5cbd9;
        width: 48px;
        height: 48px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-left: 12px;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(20 / 14);
        color: $colorBlack;
        transition: all 0.3s ease 0s;

        @include lg {
            width: 40px;
            height: 40px;
            font-size: 12px;
            margin-left: 8px;
            &._dn {
                display: none;
            }
        }
        @include mdFix {
            margin-left: 2px;
        }

        &.active {
            border-color: $colorBlue;
        }

        &:active {
            border-color: $colorBlue;
        }

        @media (any-hover: hover) {
            &:hover {
                border-color: #6689dd;
            }
        }
    }
}
.more {
    width: auto;
    min-width: 304px;
    padding: 12px 54px;
    @include lg {
        padding: 10px 35px;
        font-size: 14px;
        min-width: 242px;
    }
    @include md {
        padding: 10px 20px;
        font-size: 14px;
        min-width: 210px;
    }
    @include mdFix {
        width: 100%;
        margin-bottom: 12px;
    }
}
