.main {
  &--slide {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    min-width: 557px !important;
    max-width: 557px !important;
    @include fix720 {
      min-width: 288px !important;
      max-width: 288px !important;
      height: 140px;
    }
  }

  &--slider {
    &-wrap {
      margin-top: 16px;
    }

    &-block {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 280px;
      padding-bottom: 26px;
      @include fix720 {
        height: auto;
        padding-bottom: 18px;
      }
      //@include lg {
      //  width: calc(#{gridCustom(24,16)} - 8px);
      //}

    }

    &-t {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 2;
      padding: 0 28px;
      @include fix720 {
        padding: 8px 16px 24px 16px;
        justify-content: flex-end;
      }

      > * {
        max-width: 80%;
        @include fix720 {
          max-width: 100%;
        }
      }
    }

    &-title {
      font-weight: bold;
      font-size: 28px;
      line-height: 40px;
      color: #FFFFFF;
      margin-bottom: 8px;

      @include fix720 {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &-text {
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      @include fix720 {
        display: none;
      }
    }

    &-subBlock {
      height: calc(50% - 8px);
      border-radius: 8px;
      overflow: hidden;
      position: relative;

      .main--slider-t {
        top: auto;
        padding: 12px 28px 32px 28px;

        > * {
          max-width: 100%;
        }

        .main--slider-title {
          font-weight: bold;
          font-size: 20px;
          line-height: 28px;
          color: #FFFFFF;
        }

        .main--slider-text {
          font-size: 14px;
          line-height: 20px;
          color: #FFFFFF;
        }
      }

      img {
        width: 100%;
        height: 162px;
      }
    }

    &-bg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #1F2636;
      opacity: .5;
      z-index: 1;
    }
  }
}

.slider {
  &--dots {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
    &.circle {
      bottom: 0;
      .slider--dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #C5CBD9;
        margin: 0 6px;
        &.dot--active {
          background: #6689DD;
        }
      }
    }
  }

  &--dot {
    cursor: pointer;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #C5CBD9;
    margin: 0 6px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.dot--active {
      background: #6689DD;
    }
  }
}

.home {
  &--about {
    &-wrap {
      flex-direction: column;
      align-items: center;
    }
    &-left {
      width: 100%;
      flex-direction: column;
      display: flex;
      margin-top: 8px;
      align-items: flex-start;
      a {
        display: inline-block;
        font-weight: 500;
        color: #4772DA;
        background: #E3E7F1;
        border-radius: 100px;
        font-size: 14px;
        line-height: 20px;
        padding: 6px 16px;
        margin: 8px 0 16px 0;

        &:hover {
          background: #D3D9E8;
        }

        &:active {
          background: #4772DA;
          color: #FFFFFF;
        }
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #878889;
      }
    }

    &-right {
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      order: 1;
      width: 100%;
      height: 444px;
      margin-top: 16px;
      @include fix720 {
        height: 332px;
      }
      @include mdFix {
        height: 246px;
      }
      @include xsm {
        height: 180px;
      }
      > iframe {
        position: relative;
        //width: 100%;
        //height: 100%;
      }
    }
  }
}

.main {
  &--text {
    div {
      margin-top: 12px;
    }

    p {
      font-weight: 400;
      color: #878889;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}